html{
  height:100%
}
  body {
  background-color: #271d1f;
  font-family: "Source Sans Pro", sans-serif;
}
.navbar {
  background-color: #18181f;
}
.navbar-brand{
  display:flex;
}
.btn {
  background-color: #aa2c41;
  color:aliceblue
}
.btn:enabled {
  background-color: #c00c2a;
}

#submit {
  border-radius: 30px;
  background-color: rgb(43, 139, 184);
  margin-left: 10px;
}
#submit:hover {
  background-color: #c2b71b;
  box-shadow: 0px 0px 10px 0px rgb(78, 131, 155);
  text-transform: capitalize;
}
#roll {
  border-radius: 5px;
  border-style: groove;
  border-radius: 0.2rem;
  width: 30%;
  font-size: 0.9rem;
  border: 0.2rem solid transparent;
  font-family: sans-serif;
  margin-left: 80px;
}
#roll:focus {
  border-radius: 5px;
  animation: box 0.5s linear;
  box-shadow: 0px 0px 30px 0px rgb(81, 166, 206);
}
td,
th {
  border-radius: 5px;
}

.secondplace {
  display: flex;
}

.secondplace #preview {
  margin-right: 100px;
  margin-left: 50px;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #354259;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #b10e4f, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.tb {
  margin-top: 30px;
}
.third {
  display: flex;
  margin-top: 5px;
}

.sides {
  display: flex;
  justify-content: space-evenly;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes box {
  0% {
    box-shadow: 0px 0px 30px 0px rgb(51, 94, 114);
  }
  100% {
    box-shadow: 0px 0px 30px 0px rgb(81, 166, 206);
  }
}
#qrlogo{
  height:50px;
  width:50px
}
#qrtitle{
  color:antiquewhite;
  font-family: "Quicksand", sans-seri;
  
}